<div>
  <div>
    <h1>
      Goal '<%= @the_goal.goal%>' details
    </h1>



    <dl>
      <dt>
        Goal
      </dt>
      <dd>
        <%= @the_goal.goal %>
      </dd>

    
      <dt>
        Start date
      </dt>
      <dd>
        <%= @the_goal.start_date %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @the_goal.start_date + @the_goal.length.days %>
      </dd>

      <dt>
        Length
      </dt>
      <dd>
        <%= @the_goal.length %>
      </dd>

      <dt>
        Bet amount
      </dt>
      <dd>
        <%= @the_goal.bet_amount %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.created_at) %> ago
      </dd>




      <dt>
        Participants in this goal
      </dt>
      <dd>
        <% @the_goal.participants.each do |participant| %>
         <%= participant.email %>
         
        <% end %> 
      </dd>




      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_goal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<div>
      <div>
        <a href="/goals">
          Go back
        </a>
      </div>

    <%# <div>
        <a href="/modify_goal/<%= @the_goal.id %>
         
        <%# </a>
      </div>
    </div>  %>



      <div>
        <a href="/delete_goal/<%= @the_goal.id %>">
          Delete goal
        </a>
      </div>
    </div>



<hr>

  <% the_id = session[:user_id] %>

    <% if GoalUserRelationship.where(:user_id => the_id).where(:goal_id =>@the_goal.id).at(0) != nil %>



<div>
 <h2>Update Your Progress </h2>
 <form action=""  method="post" >
  <label for="date"> Date </label>
  <input type="date" id="date" >
  <label for="progress"> Progress </label>
  <select name="status" id="progress" >
  <option hidden disabled selected value> -- select an option -- </option>
  <option value="Complete">Complete</option>
  <option value="Miss">Miss</option>
  

</select>
<button>
<a href="/goals/<%= @the_goal.id %>">
        Update progress for my goal </a>
      </button>

  <%# <input type="date" > %>

</form>
</div>
    
<div>
  <div>
    <h3>
      Goal Progress Tracker (Working progress, coming soon)
    </h3>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
      
        <th>
        Participants
        </th>

        
         <th>
          date
        </th>


        <th>
          Goal
        </th>

        <%# <th>
          End date
        </th> %> 

        <th>
          Status
        </th>

        <th>
         Earned
        </th>
      </tr>

 
   <tr>
      
        <th>
        Alice 
        </th>

        
         <th>
          8/22
        </th>


        <th>
          End of Summer Yoga Challenge
        </th>

        <%# <th>
          End date
        </th> %> 

        <th>
          Complete
        </th>

        <th>
         $100
        </th>
      </tr>

<tr>
      
        <th>
        Alice 
        </th>

        
         <th>
          8/23
        </th>


        <th>
          End of Summer Yoga Challenge
        </th>

        <%# <th>
          End date
        </th> %> 

        <th>
          Complete
        </th>

        <th>
         $100
        </th>
      </tr>
      <tr>
      
        <th>
        Alice 
        </th>

        
         <th>
          8/22
        </th>


        <th>
          End of Summer Yoga Challenge
        </th>

        <%# <th>
          End date
        </th> %> 

        <th>
          Miss
        </th>

        <th>
         $0
        </th>
      </tr>


<%else%>
You did not sign up for this goal. Go back to home page and explore other challenges catch your eye! 
    <% end%>
